body {
    background-color: #FFD1AC;
    font-family: 'Nunito', sans-serif;
}

.contains-txt h2 {
    color:#E76F51;
    font-weight: 100;
    font-size: 2.5rem;
}

.contains-txt p {
    color: #264653;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.icon {
    width: 10%;
    height: 10%
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #FAF7F0;
}

#mainNavbar .nav-link:hover {
    color: #E76F51;
}

#mainNavbar .navbar-brand {
    color: #E76F51;
    font-size: 1.5rem;
    font-weight: 500;
}

.menu-icon {
    color:#FAF7F0;
}

#headingGroup span {
    color: #E76F51;
}

#headingGroup h1 {
    font-weight: 350;
    font-size: 3.5rem;
    color: #FAF7F0;
}

#headingGroup p {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 100;
    color: #FAF7F0;
}

.navbar.scrolled {
    background: #40768B;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 2rem;
    }
}