.Pokemon {
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }
  
  .Pokemon h1 {
    color: #509bad;
  }
  
  .Pokemon img {
    width: 250px;
  }  